<h3>Reactive Form</h3>

<form [formGroup]="userform" (ngSubmit)="submit()">
    <div class="control">
        <label>Username</label>
        <input type="text" formControlName="username" [class.ok]="(username.touched || username.dirty) && username.valid" 
            [class.notok]="(username.touched || username.dirty) && username.invalid">

        <span *ngIf="(username.touched || username.dirty) && username.invalid">
            <small class="alert" *ngIf="username.errors.required">必須填寫</small>
            <small class="alert" *ngIf="username.errors.pattern">至少4個英數字元加底線</small>
        </span>
    </div>

    <div class="control">
        <label>Password</label>
        <input type="text" formControlName="password" [class.ok]="(password.touched || password.dirty) && password.valid"
            [class.notok]="(password.touched || password.dirty) && password.invalid">

        <span *ngIf="(password.touched || password.dirty) && password.invalid">
            <small class="alert" *ngIf="password.errors.required">必須填寫</small>
            <small class="alert" *ngIf="password.errors.pattern">至少6個英數字元加底線</small>
        </span>
    </div>

    <div class="control">
        <label>Phone</label>
        <input type="text" formControlName="phone" [class.ok]="(phone.touched || phone.dirty) && phone.valid"
            [class.notok]="(phone.touched || phone.dirty) && phone.invalid">

        <span *ngIf="(phone.touched || phone.dirty) && phone.invalid">
            <small class="alert" *ngIf="phone.errors.required">必須填寫</small>
            <small class="alert" *ngIf="phone.errors.pattern">需符合手機格式09xxoooxxx或09xx-ooo-xxx</small>
        </span>
    </div>

    <div formGroupName="address">
        <div class="control">
            <label>City</label>
            <input type="text" formControlName="city" [class.ok]="(city.touched || city.dirty) && city.valid" 
                [class.notok]="(city.touched || city.dirty) && city.invalid">

            <span *ngIf="(city.touched || city.dirty) && city.invalid">
                <small class="alert" *ngIf="city.errors.required">必須填寫</small>
                <small class="alert" *ngIf="city.errors.pattern">至少3個英數字元加底線</small>
            </span>
        </div>

        <div class="control">
            <label>Street</label>
            <input type="text" formControlName="street" [class.ok]="(street.touched || street.dirty) && street.valid"
                [class.notok]="(street.touched || street.dirty) && street.invalid">
            
            <span *ngIf="(street.touched || street.dirty) && street.invalid">
                <small class="alert" *ngIf="street.errors.required">必須填寫</small>
                <small class="alert" *ngIf="street.errors.pattern">至少6個英數字元</small>
            </span>
        </div>
    </div>

    <button [disabled]="userform.invalid" class="control" type="submit">Submit</button>
</form>
<br>
<hr>
userform {{userform.value | json}}